header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container {
  padding-inline: 32px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
#profile {
  flex-direction: column;
  display: flex;
  gap: 16px;
  padding-bottom: 32px;
}

#profile > div {
  max-width: 500px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

#profile img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}
#info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >=80em) {
  header .container {
    flex-direction: initial;
    align-items: center;
  }
  #profile {
    flex-direction: initial;
    justify-content: center;
    gap: 32px;
    padding-bottom: initial;
  }

  #profile img {
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
  }
}
